<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Agenda de Medicamentos{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <h1 class="titulo">
        Agende a hora certa de sua criança tomar a medicação
    </h1>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>Rosemere Melo</p>
    <p>Programação Web</p>
</footer>

</body>
</html>
